@font-face {
    src: url("font/Raleway-VariableFont_wght.ttf");
    font-family: Raleway;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.container {
    width : 990px; 
    margin: auto;
}

/*********************** Header ***************************/

.logo {
    width : 80px;
}

nav, nav ul {
    display: flex;
    align-items: center;
}

.inscription {
    color: #0065FC;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

.naviguation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.naviguation a:hover {
    color : #0065FC;
    border-top: 2px solid #0065fc;
}

header li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    padding-right: 30px;
}

.title h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
}

.title p {
    margin-top : 5px;
    font-size: 13px;
}






/*********************** Search button ***********************/

form {
    display: flex;
}
  
.fa-map-marker-alt {
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 10px 12px;
}
  
.search {
    border: 1px solid rgb(242, 242, 242);  
    border-right: none;
    border-left: none;
    padding: 7px 0 7px 7px;
}
  
.search::placeholder {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    opacity: 1;
    font-size: 0.9em;
}
  
.submit{
    color: white;
    background-color: #0065fc;
    font-size: 0.8em;
    padding: 10px;
    border: none;
    border-radius: 0 12px 12px 0;
}

/************************************* Filtres ************************************/ 

.filtres {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
  }

.filtres h3 {
    font-size: 0.8em;
    margin-right: 15px;
}

.btn_filtres { 
    border : 1px solid rgb(209, 209, 209);
    border-left-style: none;
    border-radius: 16px;
    background: none;
    font-size: 0.7em;
    padding: 0;
}

.filtres i {
    color: #0065fc;
    background-color: #deebff;
    padding: 9px;
    border-radius: 16px;
    font-size: 1.2em;
  }

.filtres .fa-money-bill-wave {
    padding: 9px 7px;
}
  
.filtres .fa-child {
    padding: 9px 10px;
}
  
.filtres span {
    padding: 0 15px 0 6px;
}
  
.btn_filtres:hover {
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #0065fc;
    margin-left: -1px;
}

/********************************* Little quote *********************************/

.little_quote i {
    color: #0065fc;
    background-color: none;
    padding: 3px 6px;
    border-radius: 16px;
    margin-right: 8px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 0.8em;
}

.little_quote {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}



/******************************** Grid Hosting ***********************************/

#hebergements{
    display: flex;
}

.grid {
    height: 380px;
    margin: 30px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_item {
    background-color: white;
    border-radius: 0.5em;
    width: 168px;
    height: 140px;
    margin: 0px 10px;
}

.grid_item img {
    border-radius: 0.5em;
    width: 168px;
    height: 85px;
    padding: 3px;
    background-size: cover;
}

.global_hosting {
    display: inline-block;
    margin: 0;
    justify-content: center;
    max-width: 680px;
    border-radius: 0.5em;
    background-color: #F2F2F2;
    height: 470px;
}



#hebergements h2 {
    margin: 0px 15px;
    padding-top : 35px;
    font-size: 17px;
    padding-left: 15px;
}

.name {
    margin: 0;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bold;
}

.description {
    font-size: 10px;
    margin: 0;
    padding: 5px 10px;

}

.note {
    margin: 0;
    padding: 0px 10px;
    color : #0065FC;
    font-size: 10px;
}

.more {
    padding-top: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}

.more_more {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/**************************** Aside section ************************/

.grid_simple {
    max-width: 350px;
    height: 400px;
    margin: 30px 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 20px;

}

.grid_item_popular {
    background-color: white;
    border-radius: 0.5em;
    height: 107px;
}

.grid_item_popular img {
    float: left;
    border-radius: 0.5em;
    width: 120px;
    height: 106px;
    padding: 3px;
    background-size: cover;
}

.global_popular{
    margin: 0;
    align-items: center;
    width: 371px;
    background-color: #F2F2F2;
    margin-left: 25px;
    height: 470px;
    border-radius: 0.5em;
}

.title_and_fas h2 {
    margin: 0;
   padding-top: 35px;
   padding-left: 15px;
    
}

.name_popular {
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.description_popular {
    font-size: 10px;
    margin: 0;
    padding: 8px 0 5px 15px;
}

.note_popular {
    margin-top: 25px;
    padding-bottom: 2px;
    color : #0065FC;
    font-size: 10px;
}

.title_and_fas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-chart-line {
    padding-top : 35px;
    padding-right: 15px;
}

.price {
    font-weight: bold;
}

/********************************* Activity ********************************/

#activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
    margin: auto;
  }

.activity_title {
    grid-column: 1/-1;
    font-size: 16px;
    margin-top: 40px;
}
  
.activity_card {
    box-shadow: 0 3px 3px rgb(226, 226, 226);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}
  
.activity_card_wrapimg {
    position: relative;
    flex: 1;
}
  
.activity_card_wrapimg_img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activity_card_title {
    margin: 1.2rem 1.5rem;
    font-size: 11px;
}
  
  @media (min-width: 982px) {
    #activity {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 7rem 1rem 1rem 1rem 7rem;
    }
    .activity_card_1 {
      grid-row: 2/7;
      grid-column: 1/2;
    }
    .activity_card_2 {
      grid-column: 2/3;
      grid-row: 2/5;
    }
    .activity_card_3 {
      grid-column: 3/4;
      grid-row: 2/7;
    }
    .activity_card_4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .activity_card_5 {
      grid-column: 2/3;
      grid-row: 6/7;
    }
    .activity_card_6 {
      grid-column: 4/5;
      grid-row: 4/7;
    }
  }


/************************************ FOOTER **********************************/

#footer {
    background-color: #F2F2F2;
}

.footer_reservia {
    display: flex; 
    margin-top: 40px;
    display: flex;
}

.footer_reservia ul {
    list-style: none;
    padding-left: 0px;
    height: 130px;
    padding-top: 25px;
    
}

.footer_reservia li {
    padding-top: 3px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.footer_titre {
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 12px;
}

.footer_description {
    font-size : 12px;
}

.footer_reservia_1, .footer_reservia_2, .footer_reservia_3 {
    width: auto;
    padding-right: 130px;
}

/************************************ RESPONSIVE **********************************/


  @media (max-width: 982px) {
    #activity {
      row-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 12rem 12rem 12rem;
    }
  }
  @media (max-width: 475px) {
    #activity {
      row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
  }


/* -- Tablette  -- */
@media all and (max-width: 982px) {
    .container {
     padding: 0 20px;
     width: auto;
   }
  
   #hebergements {
       max-width: 100%;
       display: flex;
       flex-direction: column-reverse;
   }

   .global_hosting {
       margin-top: 15px;
       padding: 10px 0;
       display: flex;
       flex-direction: column;
       max-width: 100%;
       height: 500px;
   }

   .grid {
       grid-gap: 10px 0px;
       margin:15px 15px;
   }
   .grid_item {
       width: auto;
       height: 164px;
   }

   .grid_item img {
       height: 100px;
       width: 100%;
       object-fit: cover;
   }

   .grid_simple {
       display: flex;
       justify-content: space-between;
       max-width: 876px;
       height: 220px;
       margin: 15px 15px;
    }

   aside {
    margin: 0px;
    border-radius: 0;
  }

  .global_popular {
      margin-top: 15px;
    width: auto;
    margin-left: 0px;
    height: 277px;
  }

  .global_popular a {
    width: 31%;
  }

  .grid_item_popular {
    height: 200px;
    width: 252px;
    margin: 0 10px;
    box-shadow: 0 3px 3px rgb(226, 226, 226);
  }

  .grid_item_popular img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 55%;
    object-fit: cover;
  }

  .grid_item .name {
      font-weight: bold;
  }

  .description_popular {
    width: 100%;
    padding: 8px;
    padding-bottom: 2px;
  }

  .name_popular {
    padding-left: 8px;
    color: black;
    font-weight: bold;
}

    .note_popular {
        padding-left: 8px;
    }

    .title_and_fas h2 {
        padding-top: 15px;
        padding-left: 15px;
    }

    .fa-chart-line {
        padding-top: 15px
    }

    #hebergements h2 {
        margin-left: 0px;
        padding-top: 15px;
    }

    .more_more {
        padding-left: 0px;
    }

    .activity_title {
        padding-left: 15px;
        margin-bottom: 0px;
    }

@media all and (max-width:588px) {
    .filtres {
        display: block;
    }
}

@media all and (max-width:537px) {
    .btn_filtres {
        margin-top: 5px;
    }
}



/* FOOTER */


@media all and (max-width: 480px) {
   .footer_reservia{
       flex-direction: column;
   }
   .footer_reservia ul {
       margin: 0;
       height: 110px;
       width: auto;
   }
   
   .footer_reservia_2, .footer_reservia_3 {
       padding-top: 0px;
   }
}

/* TELEPHONE */

@media all and (max-width:500px) {
    .search {
        width: 100%;
    }
}
}


@media (max-width: 500px) {
nav {
    flex-direction: column-reverse;
    align-items: flex-end;
}
nav ul {
    width: 100%;
    margin-top: 0px;
}
nav, nav ul {
    display: flex;
    padding: 0;
}
nav li {
    flex: 1;
    border-bottom: 3px solid rgb(242, 242, 242);
    text-align: center;
    margin-top: 30px;
    padding-bottom: 6px;
}

nav li:hover {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 6px;
}

.naviguation a:hover {
    color : #0065FC;
    border-top: 0px solid #0065fc;
}

.logo {
    position: absolute;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.naviguation {
    padding-top: 0;
    flex-direction: column;
    align-items: unset;
    margin: 0 -20px;
}

.inscription {
    margin-right: 20px;
    margin-top: 25px;
}

.grid_simple {
    flex-direction: column;
    height: auto;
}

.global_popular {
    height: auto;
}

.grid_item_popular {
    height: 135px;
    width: 280px;
}
.grid_item_popular img {
    width: 100px;
    height: 100%;
}

.grid {
    grid-template-columns: none;
}

.global_hosting {
    background-color: white;
    margin-top: 0px;
    height: 100%;
}

.grid_item {
    box-shadow: 0 3px 3px rgb(226, 226, 226);
    width: 100%;
    margin: auto;
}

#activity {
    height: 100%;
}
}