@font-face {
    src: url("/font/Raleway-Italic-VariableFont_wght.ttf"), 
    url("font/Raleway-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}


.container {
    padding : 0 30px;
    width : 990px; 
    margin: auto;
}

/*********************** Header ***************************/

.logo {
    width : 80px;
}

.naviguation {
    display: flex;
    justify-content: space-between;
}

.inscription {
    color: #0065FC;
    font-weight: bold;
    cursor: pointer;
}

.naviguation a:hover {
    color : #0065FC;
    border-top: 2px solid #0065fc;
}

header li {
    display: inline-block;
    list-style: none;
    padding: 25px 20px 0 20px;
    font-size: 13px;
}

.title h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
}

.title p {
    margin-top : 5px;
    font-size: 13px;
}

/*********************** Search button ***********************/

form {
    display: flex;
}
  
.fa-map-marker-alt {
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 10px 12px;
}
  
.search {
    border: 1px solid rgb(242, 242, 242);  
    border-right: none;
    border-left: none;
    padding: 7px 0 7px 7px;
}
  
.search::placeholder {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    opacity: 1;
    font-size: 0.9em;
}
  
.submit{
    color: white;
    background-color: #0065fc;
    font-size: 0.8em;
    padding: 10px;
    border: none;
    border-radius: 0 12px 12px 0;
}

/************************************* Filtres ************************************/ 

.filtres {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
  }

.filtres h3 {
    font-size: 0.8em;
    margin-right: 15px;
}

.btn_filtres { 
    border : 1px solid rgb(209, 209, 209);
    border-left-style: none;
    border-radius: 16px;
    background: none;
    font-size: 0.7em;
    padding: 0;
}

.filtres i {
    color: #0065fc;
    background-color: #deebff;
    padding: 9px;
    border-radius: 16px;
    font-size: 1.2em;
  }

.filtres .fa-money-bill-wave {
    padding: 9px 7px;
}
  
.filtres .fa-child {
    padding: 9px 10px;
}
  
.filtres span {
    padding: 0 15px 0 6px;
}
  
.btn_filtres:hover {
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #0065fc;
    margin-left: -1px;
}

/********************************* Little quote *********************************/

.little_quote i {
    color: #0065fc;
    background-color: none;
    padding: 3px 6px;
    border-radius: 16px;
    margin-right: 8px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 0.8em;
}

.little_quote {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}



/******************************** Grid Hosting ***********************************/

.grid_hosting{
    display: flex;
}

.grid {
    height: 380px;
    margin: 30px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_item {
    background-color: white;
    border-radius: 0.5em;
    width: 168px;
    height: 140px;
    margin: 0px 10px;
}

.grid_item img {
    border-radius: 0.5em;
    width: 168px;
    height: 85px;
    padding: 3px;
    background-size: cover;
}

.global_hosting {
    display: inline-block;
    margin: 0;
    justify-content: center;
    max-width: 680px;
    border-radius: 0.5em;
    background-color: #F2F2F2;
    height: 470px;
}

.grid_hosting h2 {
    margin: 0px 15px;
    padding-top : 35px;
    font-size: 17px;
    padding-left: 15px;
}

.name {
    margin: 0;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 500;
}

.description {
    font-size: 10px;
    margin: 0;
    padding: 5px 10px;

}

.note {
    margin: 0;
    padding: 0px 10px;
    color : #0065FC;
    font-size: 10px;
}

.more {
    padding-top: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}

.more_more {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/**************************** Aside section ************************/

.grid_simple {
    max-width: 350px;
    height: 400px;
    margin: 30px 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 20px;

}

.grid_item_popular {
    background-color: white;
    border-radius: 0.5em;
    height: 107px;
}

.grid_item_popular img {
    float: left;
    border-radius: 0.5em;
    width: 120px;
    height: 106px;
    padding: 3px;
    background-size: cover;
}

.global_popular{
    margin: 0;
    align-items: center;
    width: 300px;
    background-color: #F2F2F2;
    margin-left: 25px;
    height: 470px;
    border-radius: 0.5em;
}

.title_and_fas h2 {
    margin: 0;
   padding-top: 35px;
   padding-left: 15px;
    
}

.name_popular {
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

.description_popular {
    font-size: 10px;
    margin: 0;
    padding: 8px 0 5px 15px;
}

.note_popular {
    margin-top: 25px;
    padding-bottom: 2px;
    color : #0065FC;
    font-size: 10px;
}

.title_and_fas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-chart-line {
    padding-top : 35px;
    padding-right: 15px;
}

.price {
    font-weight: bold;
}

/********************************* Activity ********************************/

.activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
    margin: auto;
  }
  .activity_title {
    grid-column: 1/-1;
    font-size: 16px;
    margin-top: 40px;
  }
  .activity_card {
    box-shadow: 0 3px 3px rgb(226, 226, 226);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
  }
  
  .activity_card_wrapimg {
    position: relative;
    flex: 1;
  }
  .activity_card_wrapimg_img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .activity_card_title {
    margin: 1.2rem 1.5rem;
    font-size: 11px;
  }
  
  @media (min-width: 1100px) {
    .activity {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 7rem 1rem 1rem 1rem 7rem;
    }
    .activity_card_1 {
      grid-row: 2/7;
      grid-column: 1/2;
    }
    .activity_card_2 {
      grid-column: 2/3;
      grid-row: 2/5;
    }
    .activity_card_3 {
      grid-column: 3/4;
      grid-row: 2/7;
    }
    .activity_card_4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .activity_card_5 {
      grid-column: 2/3;
      grid-row: 6/7;
    }
    .activity_card_6 {
      grid-column: 4/5;
      grid-row: 4/7;
    }
  }
  @media (max-width: 1100px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 12rem 12rem;
    }
  }
  @media (max-width: 925px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 12rem 12rem 12rem;
    }
  }
  @media (max-width: 650px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
  }


/************************************ FOOTER **********************************/

#footer {
    background-color: #F2F2F2;
}

.footer_reservia {
    display: flex; 
    margin-top: 40px;
}

.footer_reservia ul {
    list-style: none;
    padding-left: 0px;
    height: 130px;
    padding-top: 25px;
}

.footer_reservia li {
    padding-right: 130px;
    padding-top: 3px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.footer_titre {
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 12px;
}

.footer_description {
    font-size : 12px;
}